################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/baseNg2/bin
/baseNg2/obj
/baseNg2/node_modules
/.vs
